/* /Pages/Index.razor.rz.scp.css */
.diamond-bg[b-lttu37tt7n] {
  background: url("https://www.choctawindianfair.com/cif-blazor/img/diamond-bg.png") center repeat, linear-gradient(30deg, #500, maroon, #500, maroon, #500, maroon, #500);
  background-size: 292px 147px, cover;
  background-attachment:fixed, fixed
}
#card-gold-border[b-lttu37tt7n] {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source:linear-gradient(to bottom, #fea, #dff, #da4)
}
/* /Shared/MainLayout.razor.rz.scp.css */

/* /Shared/NavMenu.razor.rz.scp.css */
#rotate[b-h61xhqwsfk] {
  transform: rotateY(0deg) rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  font-size: 1rem;
  padding-right: 3px;
  margin-left: 10px;
}
