.diamond-bg[b-lttu37tt7n] {
  background: url("https://www.choctawindianfair.com/cif-blazor/img/basket-bg2.png") center repeat, linear-gradient(30deg, #500, maroon, #500, maroon, #500, maroon, #500);
  background-size: 300px 210px, cover;
  background-attachment:fixed, fixed;
}
#card-gold-border[b-lttu37tt7n] {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source:linear-gradient(to bottom, #fea, #dff, #da4)
}
#halito[b-lttu37tt7n] {
  text-shadow: 0 1px 0 #888,
               0 2px 0 #888,
               0 3px 0 #aaa,
               0 4px 0 #aaa,
               0 5px 0 #ccc,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#halito-shadow[b-lttu37tt7n] {
  text-shadow: #000 3px 3px 3px;
}

#png-shadow[b-lttu37tt7n] {
  -webkit-filter: drop-shadow(5px 5px 4px #000);
  filter: drop-shadow(5px 5px 4px #000); 
}
