.diamond-bg {
  background: url("/img/svg/diamond-bg.svg") center repeat, linear-gradient(30deg, #500, maroon, #500, maroon, #500, maroon, #500);
  background-size: 700px 700px, cover;
  background-attachment:fixed, fixed
}
#card-gold-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source:linear-gradient(to bottom, #fea, #dff, #da4)
}
