@page "/"

<PageTitle>Choctaw Indian Fair</PageTitle>
  <div class="header">
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
      <video playsinline muted loop autoplay>
        <source src="https://www.choctawindianfair.com/cif-blazor/img/CIFVideoWeb_1.mp4" type="video/mp4" />
      </video>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
      <MudPaper Class="relative z-2 mud-height-full" Style="background:none;" Elevation="0">
        <MudPaper Class="d-flex mud-height-full align-center" Style="background:none;text-align:center;" Elevation="0">
          <MudPaper Class="mud-width-full" style="background:none;" Elevation="0">
            <MudImage Src="https://www.choctawindianfair.com/cif-blazor/img/logos/fairlogo.webp" Alt="Choctaw Indian Fair Logo" />
          </MudPaper>
        </MudPaper>
      </MudPaper>
    </MudHidden>
  </div>

<MudCarousel Class="mud-width-full" Style="height:500px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true"
  AutoCycle="true" TData="object">
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Warning">
    <div class="d-flex flex-column justify-center" style="height:100%">
      <MudIcon Class="mx-auto" Icon="@Icons.Filled.Flag" Size="@Size.Large" />
      <MudText Class="mx-auto" Typo="Typo.h4">Events</MudText>
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Info">
    <div class="d-flex" style="height:100%">
      <MudText Class="mx-auto my-auto" Typo="Typo.h4">Culture</MudText>
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Primary">
    <div class="d-flex" style="height:100%">
      <MudText Class="mx-auto my-auto" Typo="Typo.h4">Family Fun</MudText>
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Tertiary">
    <div class="d-flex" style="height:100%">
      <MudText Class="mx-auto my-auto" Typo="Typo.h4">Stickball</MudText>
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Secondary">
    <div class="d-flex" style="height:100%">
      <MudText Class="mx-auto my-auto" Typo="Typo.h4">Pageant</MudText>
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Error">
    <div class="d-flex" style="height:100%">
      <MudText Class="mx-auto my-auto" Typo="Typo.h4">Competitions</MudText>
    </div>
  </MudCarouselItem>
</MudCarousel>

