@page "/"

<PageTitle>Choctaw Indian Fair</PageTitle>

<div class="header">
  <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
    <video autoplay loop muted playsinline nocontrols src="https://www.choctawindianfair.com/cif-blazor/img/CIFVideoWeb_1.mp4" type="video/mp4"></video>
  </MudHidden>
  <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
    <MudPaper Class="relative z-2 mud-height-full" Style="background:none;" Elevation="0">
      <MudPaper Class="d-flex mud-height-full align-center" Style="background:none;text-align:center;" Elevation="0">
        <MudPaper Class="mud-width-full" style="background:none;" Elevation="0">
          <MudImage Fluid="true" Src="https://www.choctawindianfair.com/cif-blazor/img/logos/fairlogo.webp" Alt="Choctaw Indian Fair Logo" />
        </MudPaper>
      </MudPaper>
    </MudPaper>
  </MudHidden>
</div>
<section class="diamond-bg">
  <MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudGrid Class="align-items-center">
      <MudItem md="12" lg="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full pa-8" Elevation="0" Style="height:100%;background:none;">
          <div class="d-flex">
            <MudImage Fluid="true" Class="mx-auto my-auto" Id="card-gold-border" Src="https://www.choctawindianfair.com/cif-blazor/img/chiefprincess.webp" Alt="Choctaw Indian Fair Logo" b-lttu37tt7n/>
          </div>
        </MudPaper>
      </MudItem>
      <MudItem md="12" lg="6" Class="align-items-center">
        <MudPaper Class="d-flex align-center justify-center mud-width-full pa-8" Elevation="0" Style="height:100%;background:none;">
          <div class="d-flex flex-column justify-center" style="text-align:center;">
            <MudText Typo="Typo.h1" Class="mx-auto">Halito!</MudText>
            <MudText Typo="Typo.h5" Class="mx-auto">Greetings from the Choctaw Indian Reservation. We invite you to join us July 13-16 for our 72nd annual Choctaw Indian Fair. The fair takes place on our centuries-old homeland in beautiful Choctaw, Mississippi. We gather each July to celebrate our heritage and share our beautiful and vibrant culture with our friends and neighbors. This year's fair theme is:</MudText>
            <MudText Typo="Typo.h3" Class="mx-auto my-3">"The Choctaw Spirit Lives On"</MudText>
            <MudText Typo="Typo.h5" Class="mx-auto">Fairgoers will experience the magnificent journey of our people through historical and cultural displays, social dancing, tribal arts & crafts, Choctaw stickball - the granddaddy of all field sports - as well as the Choctaw Indian Princess Pageant and traditional Choctaw food. The fair also offers carnival rides and games for the young and old alike, Shawi's Discovery Zone and chart-topping musical acts each night. There's something for everyone at the Choctaw Indian Fair - we'll see you soon!</MudText>
            <MudText Typo="Typo.h1" Class="mx-auto">Yakoki!</MudText>
          </div>
        </MudPaper>
      </MudItem>
    </MudGrid>
  </MudContainer>
</section>

<MudCarousel Class="mud-width-full" Style="height:500px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true"
  AutoCycle="true" TData="object">
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Warning">
    <div class="d-flex flex-column justify-center" style="height:100%">
      <MudIcon Class="mx-auto" Icon="@Icons.Filled.Flag" Size="@Size.Large" />
      <MudText Class="mx-auto" Typo="Typo.h4">Events</MudText>
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Info">
    <div class="d-flex" style="height:100%">
      <MudText Class="mx-auto my-auto" Typo="Typo.h4">Culture</MudText>
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Primary">
    <div class="d-flex" style="height:100%">
      <MudText Class="mx-auto my-auto" Typo="Typo.h4">Family Fun</MudText>
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Tertiary">
    <div class="d-flex" style="height:100%">
      <MudText Class="mx-auto my-auto" Typo="Typo.h4">Stickball</MudText>
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Secondary">
    <div class="d-flex" style="height:100%">
      <MudText Class="mx-auto my-auto" Typo="Typo.h4">Pageant</MudText>
    </div>
  </MudCarouselItem>
  <MudCarouselItem Transition="Transition.Slide" Color="Color.Error">
    <div class="d-flex" style="height:100%">
      <MudText Class="mx-auto my-auto" Typo="Typo.h4">Competitions</MudText>
    </div>
  </MudCarouselItem>
</MudCarousel>

